/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* Tipografia */
@font-face {
    font-family: Goldman;
    src: url(../assets/tipografia/Goldman.ttf) format(truetype);
}

@font-face {
    font-family: Gluten;
    src: url(../assets/tipografia/Gluten-Regular.ttf) format(truetype);
}

/* ---------------------------------------------------header------------------------------------------------------- */
.header {
    font-family: Goldman, cursive;
    background-color: #D1394F;
    font-size: 15px;
    color: white;

    display: flex;
    flex-direction: row;
}

.section-main {
    flex-grow: 1;
}

.brand-custom {
    margin: 20px 10px;
}


.dropdown-btn {
    background: #255F85;
    margin-bottom: 20px;
}

.dropdown-btn:hover {
    background-color: #488BF7;
}

.dropdown-ul {
    width: 200px;
    background-color: white;
}

.dropdown-item:hover {
    background-color: #488BF7;
}



.section-search {
    padding: 10px 50px;
    flex-grow: 2;
}

.input-search {
    margin-top: 30px;
    background-color: white;
}
.search-custom {
    width: 700px;
    height: 25px;
}

.search-btn {
    border: none;
    background-color: white;
}

.search-btn img {
    width: 24px;
    height: 25px;
}


.section-account {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "abtn abtn"
        "aimg1 aimg2"
        "atxt1 atxt2";

}

.account-btn {
    grid-area: abtn;
}

/* Boton mi cuenta */
.account-btn-custom {
    margin: 10px 0px;
    padding: 12px 65px;
    background-color: #255F85;
    color: white;
    border: none;
    border-radius: 20px;
}

.account-btn-custom:hover {
    background-color: #488BF7;
}

.account-img1 {
    grid-area: aimg1;
    
    position:relative
}

.account-img1:hover {
    animation-name: girar;
    animation-duration: 5s;
}


.account-img2 {
    grid-area: aimg2;

    animation-name: adelante;
    animation-duration: 6s;
    animation-iteration-count: 3;
    position: relative;
}
@keyframes girar{
    50%{
        transform: rotate(370deg);
    }
}

@keyframes adelante {
    0%{
        left: 0px;
    }
    25% {
        left: 50px;
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        left: 0px;
    }

}



.account-txt1 {
    grid-area: atxt1;
}

.account-txt2 {
    grid-area: atxt2;
}



/*============================================= MAIN ================================================================== */

.main {
    font-size: 20px;
    font-family: Goldman, cursive;
    background-color: white;
}

h1 {
    margin: 0px 575px;
}

/*============================================== Home ================================================================*/

.home-main {
    background-color: #ebebeb;
    display: grid;
    grid-template-columns: 1fr 3fr;


}

.nov-custom {
    background-color: #ebebeb;
    color: white;
    font-size: 16px;
    width: 350px;
    height: 1000;
    background-color: #713E9E;
}


.cards-custom {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;

}

.cards-title {
    margin: 0px;
    height: 40px;
    grid-column: 1/4;
}

.card-custom {
    width: 250px;
    height: 380px;
    background-color: white;
    font-size: 20px;
    border: #255F85 solid 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.card-custom:hover {
    border: #488BF7 solid 6px;
    transform: scale(1.1,1.1);

}

.cardImg {
    width: 250px;
    height: 200px;
    text-align: center;
}

.cardBuy__btn {
    background-color: #255F85;
    padding: 7px 60px;
    border-color: #255F85;
    color: white;
    font-size: 15px;
    border-radius: 25px;
}

/* Carrito */
.cart-custom {
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
}

.cart-inf {
    margin: 20px 40px;
}

.cart-title {
    width: 750px;
    background-color: white;
    border: #255F85 solid 4px;

}

.cart-items {
    width: 750px;
    height: 400px;
    background-color: white;
    border-style: solid;
    border-width: 0px 4px 4px 4px;
    border-color: #255F85;
}

.cart-card {
    margin: 20px 40px 20px 20px;

}

.card-buy-details {
    border: #255F85 solid 4px;
    background-color: white;
}

.card-buy {
    height: 70px;
    border-bottom: #255F85 solid 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buy-btn {
    width: 350px;
    height: 40px;
    margin-left: 50px;
    font-size: 25px;
    background-color: #255F85;
    color: white;
    border: none;
    border-radius: 30px;
}

.reasurrances-items {
    list-style-type: none;
    padding: 0px;
    font-size: 14px;
}

.reasurrances-item {
    background-color: white;
    margin: 20px 0px;
    border-width: 0px 0px 0px 6px;
    border-style: solid;
    border-left-color: #255F85;

    display: flex;
    flex-direction: row;
}

/* BLOG */

.blog-title h1 {
    margin: 50px 0px;
    color: #FFC857;
    text-align: center;
}

.blog-post__title {
    color: #FFC857;
}

.blog-selection__list {
    margin: 20px;
}

.blog {
    font-family: Gluten, cursive;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

/* NOSOTROS */
.container-fluid {
    margin: 20px 0px
}

.we__title {
    margin: 0px;
    color: #255F85;
}

.we__description {
    color: #255F85;
}

/* CONTACTO */
.contactanosTittle {
    color: #255F85;
}

.form-custom {
    background-color: #F8F9FA;
    width: 450px;
    margin-left: 50px;
    margin-right: 900px;
    border: 5px solid;
    border-color: #255F85;
    border-radius: 20px;
}

#form-message {
    resize: none;
}

.btn-submit {
    margin: 10px 20px;
    padding: 8px 135px;
    background-color: #255F85;
    border-color: #255F85;
    color: white;
    font-size: 1em;

}



/* ------------------------------------------------------footer---------------------------------------------------- */
.footer {
    background-color: #752E31;
    color: white;
    font-size: 14px;
}

.information {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inf-title {
    font-size: 20px;
}

/* nosotros */
.we {
    width: 250px;
}

/* contacto */
.footer-contact {
    width: 400px;
    text-align: center;
}

.contactBtn {
    background-color: #255F85;
    padding: 10px 20px;
    border-color: #255F85;
    color: white;

}

/* redes */
.networks {
    text-align: center;
}

.networks-custom {
    width: 250px;
    color: white;
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 20px;
}

.networks a {
    color: white;
    text-decoration: none;
}


.artisans h6 {
    color: #938C8C;
    display: inline;
    padding: 0px 5px;
    font-size: 0.8em;
}

/* Para acomodar los t2, t3, t4 hacia la derecha */
.t2 {
    margin-left: 500px;
}




/* =========================================== Media Querie para celular ================================================================= */

@media screen and (max-width:480px) {
    /* ==========================================================header=========================================== */

    .header {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    /* seccion del log */
    .brand-custom a img {
        width: 300px;

    }

    /* seccion del buscador */
    .section-search {
        padding: 0px;
        flex-grow: 1;
    }

    .input-search {
        margin-top: 10px;
    }

    .search-custom {
        margin-left: 20px;
        width: 350px;
        height: 28px;
    }

    .search-btn img {
        display: none;
    }

    /* seccion de la cuenta, favorito y carrito */
    .section-account {
        width: 400px;
    }

    .account-btn-custom {
        margin: 20px 20px;
        padding: 6px 140px;
    }


    /* main */
    .main {
        font-size: 12px;
    }

    h1 {
        margin: 0px;
    }

    /*============================== Home =========================*/

    .home-main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nov-custom {
        font-size: 14px;
        width: auto;
        height: auto;
    }

    .nov {
        width: auto;
        margin: 0px 10px;

    }

    .cards-custom {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

    }


    .card-custom {
        width: 220px;
        height: 340px;
    }

    .cardDescription__title {
        font-size: 16px;
    }

    /* ========================== BLOG ======================== */

    .blog-title h1 {
        margin: 20px 10px;
        font-size: 18;
        text-align: center;
    }

    .blog {
        display: flex;
        flex-direction: column;
    }

    .blog-section {
        margin: 5px;
        font-size: 14px;
    }

    .blog-post__title {
        font-size: 16;
    }

    .blog-img {
        text-align: center;
    }

    /* ========================= CARRITO========================== */
    .cart-custom {
        display: flex;
        flex-direction: column;
    }

    .cart-inf {
        margin: 20px 20px;
    }

    .cart-title {
        width: auto;
    }

    .cart-items {
        width: auto;
        height: 300px;
    }

    .cart-card {
        margin: 20px 20px;

    }

    #buy-btn {
        width: 320px;
        height: 40px;
        margin-left: 20px;
    }

    .reasurrances-items {
        font-size: 14px;
    }

    /* ==================== SOBRE NOSOTROS =========================== */
    .we-img {
        width: 380px;
    }

    /* ======================= CONTACTO ===============================  */
    .form-custom {
        width: 300px;
    }

    .form__inf {
        margin: 20px 0px;
    }

    .btn-submit {
        padding: 8px 97px;
    }

    .contact-u {
        margin-top: 60px;
    }

    .we-location {
        width: 350px;
    }


    /* =============================== FOOTER =============================================== */
    .footer {
        font-size: 12px;
        width: auto;
    }

    .information {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .inf-title {
        font-size: 14px;
    }

    /* nosotros */
    .we {
        margin: 0px 10px;
        width: auto;
    }

    /* contacto */
    .footer-contact {
        margin-top: 20px;
        width: auto;
        text-align: start;
        text-align: center;
    }


    /* redes */
    .networks {
        text-align: start;
        margin: 0px 10px
    }


    .artisans h6 {
        margin-right: 10px;
        padding: 0px;
        font-size: 12px;
    }

    /* Para acomodar los t2, t3, t4 hacia la derecha */
    .t2 {
        margin-left: 0px;
    }
}