/* =========================================== Media Querie para celular ================================================================= */

@media screen and (max-width:480px) {
    /* ==========================================================header=========================================== */

    .header {
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    /* seccion del log */
    .brand-custom a img {
        width: 300px;

    }

    /* seccion del buscador */
    .section-search {
        padding: 0px;
        flex-grow: 1;
    }

    .input-search {
        background-color:#D1394F;
        margin-top: 10px;
    }

    .search-custom {
        margin-left: 20px;
        width: 350px;
        height: 28px;
    }

    .search-btn img {
        display: none;
    }

    /* seccion de la cuenta, favorito y carrito */
    .section-account {
        width: 400px;
    }

    .account-btn-custom {
        margin: 20px 20px;
        padding: 6px 140px;
    }


    /* main */
    .main {
        font-size: 12px;
    }

    h1 {
        margin: 0px;
    }

    /*============================== Home =========================*/

    .home-main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nov-custom {
        font-size: 14px;
        width: auto;
        height: auto;
    }

    .nov {
        width: auto;
        margin: 0px 10px;

    }

    .cards-custom {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

    }


    .card-custom {
        width: 220px;
        height: 340px;
    }

    .cardDescription__title {
        font-size: 16px;
    }

    /* ========================== BLOG ======================== */

    .blog-title h1 {
        margin: 20px 10px;
        font-size: 18;
        text-align: center;
    }

    .blog {
        display: flex;
        flex-direction: column;
    }

    .blog-section {
        margin: 5px;
        font-size: 14px;
    }

    .blog-post__title {
        font-size: 16;
    }

    .blog-img {
        text-align: center;
    }

    /* ========================= CARRITO========================== */
    .cart-custom {
        display: flex;
        flex-direction: column;
    }

    .cart-inf {
        margin: 20px 20px;
    }

    .cart-title {
        width: auto;
    }

    .cart-items {
        width: auto;
        height: 300px;
    }

    .cart-card {
        margin: 20px 20px;

    }

    #buy-btn {
        width: 320px;
        height: 40px;
        margin-left: 20px;
    }

    .reasurrances-items {
        font-size: 14px;
    }

    /* ==================== SOBRE NOSOTROS =========================== */
    .we-img {
        width: 380px;
    }

    /* ======================= CONTACTO ===============================  */
    .form-custom {
        width: 300px;
    }

    .form__inf {
        margin: 20px 0px;
    }

    .btn-submit {
        padding: 8px 97px;
    }

    .contact-u {
        margin-top: 60px;
    }

    .we-location {
        width: 350px;
    }


    /* =============================== FOOTER =============================================== */
    .footer {
        font-size: 12px;
        width: auto;
    }

    .information {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .inf-title {
        font-size: 14px;
    }

    /* nosotros */
    .we {
        margin: 0px 10px;
        width: auto;
    }

    /* contacto */
    .footer-contact {
        margin-top: 20px;
        width: auto;
        text-align: start;
        text-align: center;
    }


    /* redes */
    .networks {
        text-align: start;
        margin: 0px 10px
    }


    .artisans h6 {
        margin-right: 10px;
        padding: 0px;
        font-size: 12px;
    }

    /* Para acomodar los t2, t3, t4 hacia la derecha */
    .t2 {
        margin-left: 0px;
    }
}