@charset "UTF-8";
/* Colores de detalles */
/* border */
/* Media queries */
* {
  margin: 0px;
  padding: 0px; }

@font-face {
  font-family: Goldman;
  src: url(../assets/tipografia/Goldman.ttf) format(truetype); }

@font-face {
  font-family: Gluten;
  src: url(../assets/tipografia/Gluten-Regular.ttf) format(truetype); }

header, main {
  font-family: 'Goldman', cursive; }

/* Mixin para poner tamaños */
/* Para flexbox */
/* mixin para los media queries */
.btn-custom, .account-btn-custom, .card-buy__btn, #buy-btn, .btn-submit, #contact__btn {
  background-color: #255F85;
  border-color: #255F85;
  border-radius: 30px;
  font-size: 20px;
  color: white; }

/* Boton al lado del buscador */
.search-btn {
  position: relative;
  background-color: white;
  right: 5px;
  width: 47px;
  height: 28px;
  border-radius: 0px 50px 50px 0px;
  border-width: 0px; }
  .search-btn img {
    width: 70%;
    height: 75%; }

.account-btn-custom {
  border: none;
  margin: 10px 0px;
  padding: 7px 22%; }
  .account-btn-custom:hover {
    background-color: #488BF7; }

.card-buy__btn {
  padding: 5px 30px;
  border: 3px #255F85 solid;
  color: #255F85;
  background-color: white; }
  .card-buy__btn:hover {
    background-color: #255F85;
    color: white; }

#buy-btn {
  padding: 6px 50px; }

.btn-submit {
  margin: 10px 0px;
  padding: 8px 80px; }

#contact__btn {
  font-size: 15;
  border: #255F85 3px solid;
  border-radius: 0px;
  padding: 7px 20px; }
  #contact__btn:hover {
    border: #488BF7 3px solid; }

@media screen and (max-width: 1024px) {
  .btn-custom, .account-btn-custom, .card-buy__btn, #buy-btn, .btn-submit, #contact__btn {
    font-size: 16px; }
  .search-btn {
    width: 34px;
    height: 25px;
    bottom: 1px; }
  .account-btn-custom {
    margin: 10px 0px;
    padding: 5px 20%; } }

.header {
  font-family: Goldman, cursive;
  background-color: #D1394F;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: row; }

.section-main {
  flex-grow: 1; }

.brand-custom {
  margin: 20px 0px; }

/* Buscador */
.section-search {
  padding: 10px 0px;
  flex-grow: 2;
  text-align: center; }

.input-search {
  margin-top: 30px; }

.search-custom {
  width: 76%;
  padding: 2px 8px;
  border: 0px white solid;
  border-radius: 50px 0px 0px 50px;
  outline: none; }
  .search-custom:focus {
    border: 3px #255F85 solid; }

/* Mi cuenta */
.section-account {
  flex-grow: 1;
  display: grid;
  grid-template-areas: "abtn abtn" "aimg1 aimg2" "atxt1 atxt2"; }

.account-btn {
  grid-area: abtn; }

.account-img1 {
  grid-area: aimg1;
  position: relative; }
  .account-img1:hover {
    animation-name: girar;
    animation-duration: 3s; }

.account-img2 {
  grid-area: aimg2;
  position: relative; }
  .account-img2:hover {
    transform: rotateY(360deg);
    transition: 2s ease; }

@keyframes girar {
  50% {
    transform: rotate(370deg); } }

.account-txt1 {
  grid-area: atxt1; }

.account-txt2 {
  grid-area: atxt2; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  /* header */
  .header {
    font-size: 14px; }
  /* Logo */
  .brand-logo {
    width: 190px;
    height: 100px; }
  .dropdown-btn {
    margin-left: 10px;
    padding: 5px; }
  /* Buscador */
  /* Mi cuenta */
  .account-img1 {
    width: 60px;
    height: 55px; }
  .account-img2 {
    width: 60px;
    height: 55px; } }

@media screen and (max-width: 768px) {
  .header {
    padding-bottom: 40px;
    font-size: 14px;
    display: grid;
    grid-template-areas: "sm sa" "ss ss"; }
  .section-main {
    grid-area: sm; }
  .section-search {
    grid-area: ss; }
  .section-account {
    grid-area: sa; } }

@media screen and (max-width: 480px) {
  /* seccion del log */
  .header {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center; }
  .section-main {
    align-self: start; }
  .brand-logo {
    width: auto;
    height: auto; }
  /* seccion del buscador */
  .section-search {
    margin: 0px; }
  .input-search {
    margin: 0px; }
  .search-custom {
    width: 270px; }
  .section-account {
    width: 280; } }

.footer {
  background-color: #752E31;
  color: white;
  font-size: 14px; }

.information {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.inf-title {
  font-size: 20px; }

/* nosotros */
.we {
  width: 250px; }

/* contacto */
.footer-contact {
  width: 400px;
  text-align: center; }

/* redes */
.networks {
  text-align: center; }
  .networks-custom {
    width: 250px;
    color: white;
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 20px; }
  .networks a {
    color: white;
    text-decoration: none; }

.artisans h6 {
  color: #938C8C;
  display: inline;
  padding: 0px 5px;
  font-size: 0.8em; }

/* Para acomodar los t2, t3, t4 hacia la derecha */
.t2 {
  margin-left: 25%; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  /* nosotros */
  .we {
    width: 180px; }
  /* contacto */
  .footer-contact {
    width: 270px;
    text-align: center; }
  /* redes */
  .networks-custom {
    width: 235px;
    grid-row-gap: 15px; }
  .artisans h6 {
    margin: 0px 5px; } }

/* A esta medida ya se empieza a ver mal el footer */
@media screen and (max-width: 737px) {
  .information {
    display: flex;
    flex-direction: column; }
  .we {
    margin: 0px 10px;
    width: auto; }
  .footer-contact {
    margin-top: 20px;
    width: auto;
    text-align: start;
    text-align: center; }
  .networks {
    text-align: start;
    margin: 0px 10px; } }

@media screen and (max-width: 480px) {
  .footer {
    font-size: 12px;
    width: auto; }
  .information {
    padding-top: 20px; }
  .inf-title {
    font-size: 14px; }
  .artisans h6 {
    margin-right: 10px;
    padding: 0px;
    font-size: 12px; }
  /* Para acomodar los t2, t3, t4 hacia la derecha */
  .t2 {
    margin-left: 0px; } }

.main {
  font-size: 20px;
  background-color: white; }

@media screen and (max-width: 480px) {
  /* main */
  .main {
    font-size: 12px; }
  h1 {
    margin: 0px; } }

.form-custom {
  background-color: #F8F9FA;
  width: 467px;
  padding: 15px;
  margin-left: 10px;
  border: 5px solid;
  border-color: #255F85;
  border-radius: 20px; }

.contact-custom__container {
  margin: 40px 0px; }

.form__inf {
  margin: 10px 0px; }
  .form__inf input[type="text"] {
    padding-left: 5px;
    outline: none; }
    .form__inf input[type="text"]:focus {
      border: 2px #255F85 solid; }
  .form__inf input[type="email"] {
    padding-left: 5px;
    outline: none; }
    .form__inf input[type="email"]:focus {
      border: 2px #255F85 solid; }
  .form__inf textarea {
    padding-left: 5px;
    outline: none; }
    .form__inf textarea:focus {
      border: 2px #255F85 solid; }

.form__btn {
  text-align: center; }

#form-message {
  resize: none; }

@media screen and (max-width: 991px) {
  .contact-custom__container {
    margin: 20px 0px;
    padding: 0px; }
    .contact-custom__container h2 {
      text-align: center; }
  .form-custom {
    width: 650px; }
  .form__inf input[type="text"] {
    width: 500; }
  .form__inf input[type="email"] {
    width: 383px; }
  .form__inf textarea {
    width: 583px; }
  .we-location {
    width: 650px; } }

@media screen and (max-width: 768px) {
  .form-custom {
    width: 400px;
    font-size: 16; }
  .form__inf input[type="text"] {
    width: 350; }
  .form__inf input[type="email"] {
    width: 350px; }
  .form__inf textarea {
    width: 350px; }
  .we-location {
    width: 380px;
    height: 400;
    width: 400px; } }

@media screen and (max-width: 480px) {
  .form-custom {
    width: 300px; }
  .form__inf {
    margin: 10px 0px; }
    .form__inf input[type="text"] {
      width: 250; }
    .form__inf input[type="email"] {
      width: 250px; }
    .form__inf textarea {
      width: 250px; }
  .btn-submit {
    padding: 8px 97px; }
  .we-location {
    width: 300px;
    height: 350px; } }

.dropdown-btn {
  margin-left: 20px;
  background: #255F85;
  margin-bottom: 20px; }

.dropdown-btn:hover {
  background-color: #255F85; }

.dropdown-ul {
  width: 200px;
  background-color: white; }

.dropdown-item:hover {
  background-color: #255F85; }

.home-main {
  padding-bottom: 40px;
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 1fr 4fr; }

.carousel-custom {
  background-color: #ebebeb;
  padding: 40px 100px; }

.aside-nov {
  background-color: #ebebeb; }

.container-nov {
  padding-left: 10px;
  color: white;
  font-size: 18px;
  background-color: #488BF7;
  animation: abajo 2s 1; }

@keyframes abajo {
  0% {
    background-color: #ebebeb; }
  50% {
    background-color: #488BF7; } }

.nov {
  position: relative;
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: 1; }

@keyframes aparecer {
  0% {
    left: -600px; }
  50% {
    left: 0px; } }

.main-cards {
  margin-top: 30px; }
  .main-cards__title {
    padding-left: 40px;
    margin-bottom: 40px;
    height: 40px; }
  .main-cards__custom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    justify-items: center; }

.card-custom {
  width: 200px;
  height: 380px;
  background-color: white;
  font-size: 20px;
  border: #255F85 solid 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around; }
  .card-custom:hover {
    border: #488BF7 solid 4px;
    transform: scale(1.1, 1.1);
    box-shadow: 6px 6px 4px #255F85; }

.card-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center; }
  .card-description__title {
    grid-column: 1/4; }
  .card-description__img {
    position: relative;
    border: none;
    background-color: white; }
    .card-description__img:hover {
      top: -30px; }

.card-img {
  width: 150px;
  height: 200px;
  text-align: center; }

@media screen and (max-width: 1024px) {
  .home-main {
    grid-template-columns: 1fr; }
  .carousel-custom {
    padding: 30px 50px; }
  .main-cards__custom {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 768px) {
  .main-cards__custom {
    grid-template-columns: 1fr 1fr; }
  .card-custom {
    font-size: 16px;
    height: 320px; }
  .card-description__title {
    font-size: 16px; } }

@media screen and (max-width: 480px) {
  .carousel-custom {
    padding: 20px 0px; }
  .aside-nov {
    font-size: 14px; }
  .nov {
    margin: 0px 10px; }
  .main-cards__custom {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px; }
  .card-custom:hover {
    transform: scale(1, 1); }
  .card-description__title {
    font-size: 14px; } }

.blog-custom {
  font-family: 'Gluten', cursive;
  font-size: 18px;
  /* Fondo de muro */
  background-image: url(../assets/img/wall.jpg);
  background-repeat: repeat-y;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 40px;
  padding-bottom: 50px; }

.blog-title {
  padding: 20px 35%; }

.blog-post {
  width: 40%;
  padding: 20px;
  background-color: white;
  border: 5px #255F85 solid;
  border-radius: 80px; }
  .blog-post:hover {
    border-color: #488BF7;
    transform: scale(1.1, 1.1); }
  .blog-post__img img {
    width: 60%;
    height: 20%; }

.list-custom {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  column-gap: 1%;
  row-gap: 40px;
  /* Estilos de cada post del blog */ }
  .list-custom__element {
    width: 260px;
    background-color: white;
    border: 5px #255F85 solid;
    border-radius: 10%; }
    .list-custom__element:hover {
      border-color: #488BF7;
      transform: scale(1.1, 1.1); }

.list-img img {
  background-color: #255F85;
  width: 100%;
  height: 20%;
  border-radius: 0px 0px 12% 12%; }

@media screen and (max-width: 1024px) {
  .blog-custom {
    font-size: 16px;
    justify-content: space-evenly;
    row-gap: 30px; }
  .blog-post:hover {
    transform: scale(1, 1); }
  .list-custom__element {
    width: 230px; }
    .list-custom__element:hover {
      transform: scale(1, 1); } }

@media screen and (max-width: 768px) {
  .blog-custom {
    flex-direction: column; }
  .blog-title {
    margin-top: 25px;
    padding: 0px;
    text-align: center; }
  .blog-post {
    width: 80%; }
  .list-custom__element {
    width: 180px; } }

@media screen and (max-width: 480px) {
  .blog-custom {
    font-size: 14px; }
  .list-custom__element {
    width: 80%;
    height: auto; } }

.cart-custom {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: 3fr 2fr; }

.cart-container {
  margin-left: 20px; }

.cart-inf {
  margin: 20px 0px; }

.cart-title {
  background-color: white;
  border: 4px #255F85 solid; }

.cart-items {
  height: 400px;
  background-color: white;
  border-style: solid;
  border-width: 0px 4px 4px 4px;
  border-color: #255F85;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.cart-card {
  margin: 20px 40px 20px 20px; }

.card-buy-details {
  border: 4px #255F85 solid;
  background-color: white; }

.card-buy {
  height: 70px;
  border-bottom: 4px #255F85 solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }

.cart-buy__btn {
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.reasurrances-items {
  list-style-type: none;
  padding: 0px;
  font-size: 18px; }

.reasurrances-item {
  background-color: white;
  margin: 20px 0px;
  border-width: 0px 0px 0px 6px;
  border-style: solid;
  border-left-color: #255F85;
  font-size: 16px;
  display: flex;
  flex-direction: row; }

@media screen and (max-width: 1024px) {
  .cart-custom {
    font-size: 16px; }
  .reasurrances-item {
    font-size: 14px; }
  .cart-card {
    margin: 20px; } }

@media screen and (max-width: 768px) {
  .cart-custom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .cart-container {
    margin: 0px;
    width: 90%; }
  .cart-inf {
    margin: 20px 0px; }
  .cart-title {
    width: auto; }
  .cart-items {
    width: auto;
    height: 300px; }
  .cart-details {
    width: 90%; }
  .cart-card {
    margin: 20px 0px; } }

.contact-custom {
  margin: 40px 0px; }

.we-main {
  margin: 40px 0px;
  background-color: #ebebeb;
  border: 5px #255F85 solid; }

.we-custom {
  padding: 0px; }

.we__title {
  margin: 0px;
  color: #255F85; }

.we__description {
  color: #255F85; }

@media screen and (max-width: 1024px) {
  .we-img {
    width: 358px;
    height: 460px; } }

@media screen and (max-width: 768px) {
  .we-main {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .we-img {
    width: 230px;
    height: 300px; } }
