@media screen and (max-width:480px) {
    .footer {
        font-size: 12px;
        width: auto;
    }

    .information {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .inf-title {
        font-size: 14px;
    }

    /* nosotros */
    .we {
        margin: 0px 10px;
        width: auto;
    }

    /* contacto */
    .footer-contact {
        margin-top: 20px;
        width: auto;
        text-align: start;
        text-align: center;
    }

    /* redes */
    .networks {
        text-align: start;
        margin: 0px 10px
    }

    .artisans h6 {
        margin-right: 10px;
        padding: 0px;
        font-size: 12px;
    }

    /* Para acomodar los t2, t3, t4 hacia la derecha */
    .t2 {
        margin-left: 0px;
    }
}