.form-custom {
    background-color: $color-3;
    width: 380px;
    padding: 15px;
    margin-left: 10px;
    
    border: 5px solid;
    border-color: $color-blue;
    border-radius: 20px;
}

.form__inf{
    margin: 10px 0px;
}

.form__btn{
    text-align: center;
}

#form-message {
    resize: none;
}

