//Boton global
.btn-custom{
    background-color: $color-blue;
    border-color: $color-blue;
    border-radius: 30px;
    font-size: 20px;
    color: $color-1;
}

/* Boton al lado del buscador */
.search-btn {
    position: relative;
    background-color: $color-1;
    right: 5px;
    @include sizes(47px, 28px);
    
    border-radius: 0px 50px 50px 0px;
    border-width: 0px;
    & img {
        @include sizes(70%, 75%);
    }
}

//Boton de la parte superior derecha del header de mi cuenta
.account-btn-custom {
    @extend .btn-custom;

    border:none;
    margin: 10px 0px;
    padding: 7px 22%;

    &:hover {
        background-color:$color-light-blue;
    }
}

//Boton de comprar de las cards 
.card-buy__btn {
    @extend .btn-custom;
    padding: 5px 30px;
    border: 3px $color-blue solid;
    color: $color-blue;
    background-color: $color-1;
    &:hover{
        background-color: $color-blue;
        color: $color-1;
    }
}

//Boton de finalizar compras del carrito
#buy-btn {
    @extend .btn-custom;
    padding: 6px 50px;
}

//Boton enviar del formulario
.btn-submit {
    @extend .btn-custom;
    margin: 10px 0px;
    padding: 8px 80px;    
}

//Boton de contactar del footer
#contact__btn {
    @extend .btn-custom;
    font-size: 15;
    border: $color-blue 3px solid;
    border-radius: 0px;
    padding: 7px 20px;
    &:hover{
        border: $color-light-blue 3px solid;
        
    }
}

@include media(lg){
    .btn-custom{
        font-size: 16px;
    }

    .search-btn {
        @include sizes(34px, 25px);
        bottom: 1px;
    }

    .account-btn-custom {
        margin: 10px 0px;
        padding: 5px 20%;
    }
}


