.blog-custom {

    font-family: 'Gluten', cursive;
    font-size: 18px;
    /* Fondo de muro */
    background-image: url(../assets/img/wall.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    text-align: center;

    display: flex;
    @include flexbox(row, wrap, space-around, center);
    row-gap: 40px;
    padding-bottom: 50px;
}

.blog-title {
    padding: 20px 35%;
}

.blog-post {
    width: 40%;
    padding: 20px;
    background-color: $color-1;
    border: 5px $color-blue solid;
    border-radius: 80px;

    &:hover {
        border-color: $color-light-blue;
        transform: scale(1.1, 1.1);
    }

    &__img {
        & img {
            @include sizes (60%, 20%);
        }
    }
}

.list-custom {

    list-style: none;

    display: flex;
    @include flexbox(row, wrap, space-evenly, flex-start);
    column-gap: 1%;
    row-gap: 40px;

    /* Estilos de cada post del blog */
    &__element {
        width: 260px;
        background-color: $color-1;
        border: 5px $color-blue solid;
        border-radius: 10%;

        &:hover {
            border-color: $color-light-blue;
            transform: scale(1.1, 1.1);
        }
    }
}

.list-img {
    & img {
        background-color: $color-blue;
        @include sizes(100%, 20%);
        border-radius: 0px 0px 12% 12%;
    }
}

@include media(lg) {
    .blog-custom {
        font-size: 16px;
        justify-content: space-evenly;
        row-gap: 30px;
    }

    .blog-post {
        &:hover {
            transform: scale(1, 1);
        }
    }

    .list-custom {
        &__element {
            width: 230px;

            &:hover {
                transform: scale(1, 1);
            }
        }
    }
}

@include media(md) {
    .blog-custom {
        flex-direction: column;
    }

    .blog-title {
        margin-top: 25px;
        padding: 0px;
        text-align: center;
    }

    .blog-post {
        width: 80%;
    }

    .list-custom {
        &__element {
            width: 180px;
        }
    }
}

@include media(sm) {
    .blog-custom {
        font-size: 14px;
    }

    .list-custom {
        &__element {
            @include sizes(80%, auto);
        }
    }
}