.cart-custom {
    background-color: $color-2;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.cart-container{
    margin-left: 20px;
}

.cart-inf {
    margin: 20px 0px;
}

.cart-title {
    background-color: $color-1;
    border: $border;
}

.cart-items {
    height: 400px;
    background-color: $color-1;
    border-style: solid;
    border-width: 0px 4px 4px 4px;
    border-color: $color-blue;

    display:flex;
    @include flexbox(row, nowrap, center, center);
    
}

.cart-card {
    margin: 20px 40px 20px 20px;

}

.card-buy-details {
    border: $border;
    background-color: $color-1;
}

.card-buy {
    height: 70px;
    border-bottom: $border;

    display: flex;
    @include flexbox(row, nowrap, space-between, center);
}

.cart-buy__btn{
    height: 70px;
    display: flex;
    @include flexbox(row, nowrap, center, center);
}

.reasurrances-items {
    list-style-type: none;
    padding: 0px;
    font-size: 18px;
}

.reasurrances-item {
    background-color: $color-1;
    margin: 20px 0px;
    border-width: 0px 0px 0px 6px;
    border-style: solid;
    border-left-color: $color-blue;
    font-size: 16px;

    display: flex;
    flex-direction: row;
}

@include media(lg){
    .cart-custom{
        font-size: 16px;
    }
    .reasurrances-item{
        font-size: 14px;
    }
    .cart-card {
        margin: 20px;
    
    }
}
@include media(md){
    .cart-custom {
        display: flex;
        @include flexbox(column, wrap, center, center);
    }
    
    .cart-container{
        margin: 0px;
        width: 90%;
    }
    .cart-inf {
        margin: 20px 0px;
    }

    .cart-title {
        width: auto;
    }

    .cart-items {
        @include sizes(auto, 300px);
    }

    .cart-details{
        width: 90%;
    }

    .cart-card {
        margin: 20px 0px;

    }
}
