.container-fluid {
    margin: 20px 0px
}

.we__title {
    margin: 0px;
    color: $color-blue;
}

.we__description {
    color: $color-blue;
}

/* CONTACTO */
.contactanosTittle {
    color: $color-blue;
}
