.we-main {
    margin: 40px 0px;
    background-color: $color-2;
    border: 5px $color-blue solid;
}

.we-custom{
    padding: 0px;
}
   
.we__title {
    margin: 0px;
    color: $color-blue;
}

.we__description {
    color: $color-blue;
}

@include media(lg){
    .we-img {
        @include sizes(358px, 460px);
    }
}

@include media(md){
    .we-main{
        text-align: center;
    }
}

@include media(sm) {
    .we-img {
        @include sizes(230px, 300px);
    }
}


