//Paleta de colores
$color-red: #D1394F;
$color-brown: #752E31;
$color-blue: #255F85; 
$color-light-blue: #488BF7; 
$color-orange: #FFC857;
/* Colores de detalles */
$color-1: white;
$color-2: #ebebeb;
$color-3: #F8F9FA;
$color-4: #938C8C;