
@font-face {
    font-family: Goldman;
    src: url(../assets/tipografia/Goldman.ttf) format(truetype);
}

@font-face {
    font-family: Gluten;
    src: url(../assets/tipografia/Gluten-Regular.ttf) format(truetype);
}

header, main{
    font-family: 'Goldman', cursive;
}