@media screen and (max-width:480px) {
    .blog-title h1 {
        margin: 20px 10px;
        font-size: 18;
        text-align: center;
    }

    .blog {
        display: flex;
        flex-direction: column;

        &-section {
            margin: 5px;
            font-size: 14px;
        }
    
        &-post__title {
            font-size: 16;
        }
    
        &-img {
            text-align: center;
        }
    }

    
}